*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.section1, .section3{
    height: 100vh;
    width: 100%;
    background-color: lightgreen;
}

.full-page.is-second {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next_image-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip-path: inset(25% 25% 25% 25% round 40px);
}

.next_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.3);
}