*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.section1{
    height: 100vh;
    width: 100%;
    background-color: lightgreen;
}

.section3{
    height: 100vh;
    width: 100%;
    background-color: #fff;
}

.full-page.is-second {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next_image-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip-path: inset(25% 25% 25% 25% round 40px);
}

.next_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.3);
}

/* //////////Marquee CSS///////// */
.section-resource {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    
  }
  
  .marquee-advanced {
    width: 100vw;
    position: relative;
    overflow: hidden;
    pointer-events: none
  }
  
  .marquee-advanced__scroll {
    will-change: transform;
    width: 100%;
    display: flex;
    position: relative;
  }
  
  .marquee-advanced__collection {
    will-change: transform;
    display: flex;
    position: relative;
  }
  
  .marquee-advanced__item {
    justify-content: flex-start;
    align-items: center;
    font-size: max(4em, 8vw);
    display: flex;
  }
  
  .marquee-advanced__item-width {
      background-color: var(--seqlight);
      border-radius: 1vw;
      justify-content: center;
      align-items: center;
      width: 10rem;
       max-width: 200px;
      height: auto;
      margin: 2vw 3vw;
      padding: 2rem;
      display: flex
  ;
  }
  
  
  
  .marquee__advanced__arrow-svg,
  [data-marquee-direction="right"][data-marquee-status="inverted"] .marquee__advanced__arrow-svg {
    transition: 0.5s cubic-bezier(0.625, 0.05, 0, 1);
    transform: rotate(-180deg);
  }
  
  [data-marquee-status="inverted"] .marquee__advanced__arrow-svg,
  [data-marquee-direction="right"][data-marquee-status="normal"] .marquee__advanced__arrow-svg {
    transform: rotate(-359.999deg);
  }


  /* //////////Banner Header//// */
  h1.landingintro {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    translate: none;
    rotate: none;
    scale: none;
    transform-style: preserve-3d;
    perspective: 100px;
}

h1.heading__main {
    font-family: 'TWKlausanne';
    font-weight: 250;
    letter-spacing: -.05em;
    font-size: clamp(5vw, 2.8vw, 2.8rem);
    line-height: normal;
}